body {
  font-family: Arial, sans-serif;
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 10px;
  padding: 1em;
  background-color: #252532;
}

h1.message {
  color: #e5ff86;
  font-size: 2.5em;
  /* height: auto; */
  margin: 0%;
}

h2.message {
  color: #e5ff86;
}

h3 {
  color: #bda000;
}

p {
  color: #101248;
}

p.uuid {
  font-size: 1.25em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #d048fa;
}

.container {
  text-align: center;
}

div.container {
  /* background-color: #bda000; */
  display: flexbox;
  flex-direction: column;
}

img {
  display: flexbox;
  margin: 20px 0;
  height: 250px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

button.new_uuid {
  /* margin-top: 2em; */
  padding: 10px 50px;
  font-size: 16px;
  cursor: pointer;
  color: aquamarine;
  background-color: #252532;
  /* border-radius: 10px; */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}