<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI Template Example</title>
    <link href="{{ url_for(request, name='static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
      <h1 class="nome">{{ message }}</h1>
      <h2 class="local">{{ cemiterio }}</h1>
      <h4>{{ timeinfo }} | {{ existente }}</h4>
    </div>
    <div class="container">
      <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code with UUID">
      <p class="uuid">{{ uuid }}</p>
      <button class="new_uuid" onclick="location.reload()">Generate New UUID QR Code</button>
    </div>
</body>
</html>